/*
!/.github
!/config
!/mods
/mods/1.12.2
!/resourcepacks
!/resourcepacks/Minecraft-Mod-Language-Modpack.zip
!/scripts
!/shaderpacks
!/.clientonlymodlist
!/.gitignore
!/index.toml
!/options.txt
!/optionsof.txt
!/pack.toml
!/.packwizignore
!/install_java.*
!/start.bat
!/start.ps1
!/start.sh
!/variables.txt
!/LICENSE
!/请读我.txt