/*
!/.github
!/config
!/mods
!/.clientonlymodlist
!/.gitignore
!/index.toml
!/options.txt
!/optionsof.txt
!/pack.toml
!/.packwizignore
!/install_java.*
!/start.bat
!/start.ps1
!/start.sh
!/variables.txt